{% extends "base.html" %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

{% block content %}
    <h2>Login</h2>

    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="pt-3">
                        <input type="submit" value="Login" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
